{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/styles/style.css">
<script
  src="https://kit.fontawesome.com/db21924de1.js"
  crossorigin="anonymous"
></script>
{% endblock %}

{% block main %}

<section class="section-1 landing">
    <div id="section-1-left">
        <img src="/static/images/icon-main.png" alt="">
    </div>
    
    <div id="section-1-right">
        <h1>Welcome To Our Site</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia blanditiis autem aliquid animi earum incidunt, perspiciatis sed numquam aperiam quaerat tenetur, nihil excepturi? Quisquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem assumenda optio dolorum fuga doloribus tenetur repudiandae sint error blanditiis itaque? Fuga quaerat quae nobis perspiciatis nulla atque perferendis debitis eaque officiis blanditiis qui quam, consequuntur pariatur eum fugit, sint corporis, temporibus sapiente consectetur sunt doloribus.</p>
        <div class="buttons">
            <button id="btn-1"><a href="/project_env" style="text-decoration: none; color: white;"> Go to Project Environment</a></button>
            <button id="btn-2">Explore</button>
        </div>
    </div>

</section>
<section id="section-3">
    
    <h1>Project Environment Preview</h1>
    <div id="photos">
        <div id="arrows"><i class="fa-solid fa-angles-left fa-2xl" style="color: #ffffff; margin-right: 1rem;"></i></div>
        <div class="images"><img src="/static/images/Screenshot (4).png" alt=""></div>
        <div id="arrows"><i class="fa-solid fa-angles-right fa-2xl" style="color: #ffffff; margin-right: 1rem;"></i></div>
    </div>
</section>
{% endblock %}