<!DOCTYPE html>
 <html lang="en">
    <head>
        <title>PROJECTO</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- Icon -->
        <link rel="icon" type="image/x-icon" href="/static/nits.png">

        {% block style %}{% endblock %}
        <style>
          body
              {  
                  background-image:url("/static/images/background.jpg") no-repeat center/cover;
                  background-attachment: fixed;
              }  
      </style>
    </head>

    <body>
        <!-- NAVBAR -->
        {% if nav == 1 %}
        <nav class="navbar">
            <div class="left">
                <img src="/static/images/image-jonathan.jpg" alt="">
                <p style="font-size: 1.4rem;">PROJECTO</p>
            </div>
            <div class="middle" id="middle">
                <a href="/" style="text-decoration: none;">Home</a>
                <a href="" style="text-decoration: none;">About</a>
                <a href="" style="text-decoration: none;">Contacts</a>
            </div>
            <div class="right">
                {% if session['user_id'] %}
                <a href="/logout"><button class="btn">Logout</button></a>
                {% else %}
                <a href="/login"><button class="btn" style=" background: transparent;
                    border: 2px solid white;
                    color: white;
                    box-shadow: 0px 1px 10px 0px white;">Login</button></a>
                <a href="/register"><button class="btn" style=" background: transparent;
                    border: 2px solid white;
                    color: white;
                    box-shadow: 0px 1px 10px 0px white;">Register</button></a>
                {% endif %}
            </div>
        </nav>
        {% endif %}


        {% block main %}{% endblock %}
    </body>
 </html>